// color
$btn-color01: #db6B64;
$btn-color02: #d84940;
$font-color01: #333333;
$font-color02:#ebb94d;
$font-color03: #ffffff;
$bgc-color01: #ffffff;
$bgc-color02: #ebb94d;


// font-family
$font-jp: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
