@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

.header {
  height: 75px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Hiragino Kaku Gothic Pro W3";
}

.header > img {
  display: block;
  width: 128px;
  height: 45px;
  margin-top: 14px;
  margin-right: 5px;
}

.header > p {
  display: block;
  margin-top: 35px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 1.5px;
  color: #333333;
}

.header > a {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  text-align: center;
  background-color: #db6B64;
  width: 318px;
  height: 44px;
  line-height: 44px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.header > a:hover {
  background-color: #d84940;
}

.header > div {
  display: none;
}

.hero {
  text-align: center;
  height: 500px;
  width: 100%;
  margin-top: 75px;
  padding-top: 95px;
  background-image: url("../image/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero p {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  line-height: 1.6;
  color: #333333;
}

.hero img {
  width: 317px;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  line-height: 1.1;
  letter-spacing: 1.5px;
}

.schedule {
  height: 602px;
  width: 100%;
  background-color: #ebb94d;
  text-align: center;
  color: white;
  font-family: "Hiragino Kaku Gothic Pro", "���C���I", Meiryo, Osaka, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 1.5px;
  padding: 30px 0;
}

.schedule span {
  display: inline-block;
  font-family: "Menlo";
  color: #c7254e;
  font-size: 16px;
  font-weight: 600;
  background-color: #f9f2f4;
  border-radius: 4px;
  line-height: 1.6;
  letter-spacing: 1.5px;
  padding: 2px 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.schedule a {
  display: block;
  margin: 45px auto;
  font-size: 28px;
  color: white;
  line-height: 104px;
  letter-spacing: 1.5px;
  width: 84%;
  max-width: 1028px;
  height: 104px;
  border-radius: 50px;
  background-color: #db6B64;
}

.schedule a:hover {
  background-color: #d84940;
}

.schedule .brsp {
  display: none;
}

.schedule p:not(:first-child) {
  margin-top: 23px;
  margin-bottom: 33px;
  font-size: 21px;
  letter-spacing: 1.5px;
  line-height: 1.6;
}

.schedule .sns {
  margin-top: 28px;
}
/*# sourceMappingURL=style.css.map */